* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
	*:before,
	*:after {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

body,h1,h2 {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #222;
}

h1,h2 {
	margin: 0 auto;
}

h1 {
	font-weight: 400;
	font-size: 2em;
}

h2 {
	font-weight: 300;
	color: #888;
	margin-bottom: .5em;
	font-size: 1.5em;
}

a, a > i {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #222;
	webkit-transition: color 250 ease;
    -moz-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: color 250ms ease;

    -webkit-transition: -webkit-transform 0.65s ease-out;
    -moz-transition: -moz-transform 0.65s ease-out;
    transition: transform 0.65s ease-out;
}

a:hover {
	text-decoration: none;
	color: green;
}

a>i:hover {
	text-decoration: none;
	color: orange;
	
	-webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}

.icon {
	font-size: 1.5em;
	color: green;
	padding-right: .25em;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.picture {
	background: url(../img/davidBW.jpg) #eee no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: block;
 	width: 100%;
  	height: auto;
}

.pad-container {
	padding-top: 5em;
	padding-bottom: 5em;
}

.left-box {
	border-right: solid 1px #aaa;
	padding-right: 2em;
}

.right-box {
	padding-left: 2em;
}

.text-center {
	text-align: center;
}

span, span > a {
	color: #888;
}

.vertical {
	vertical-align: middle;
}

ul,li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-left: 0;
	padding-left: 0;
}

hr {
	margin: 0;
	padding: 0;
	background: #888;
}

.items {
	list-style: none;
	font-size: 1.5em;
}

.title {
	color: #222;
	font-weight: 400;
	font-size: 1.75em;
}

.p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: .25em auto;
}


img {
	vertical-align: middle;
}

.david {
	max-height: 15em;
	margin: auto auto 1em;
	border-radius: 50%;
	display: block;
  	max-width: 100%;
  	margin-bottom: 1em;
}

footer {
	font-size: .75em;
	color: #bbb;
	padding: .75em;
}





@media (max-width: 999px) {
	.icon {
		font-size: 2.25em;
		padding-right: .4em;
	}
}

@media (max-width: 768px) {
	.left-box {
		border-right: none;
		padding-right: 0;
	}

	.pull-right {
		float: none;
	}

	.right-box {
		padding-left: 0;
		margin-top: 4em;
		padding-bottom: 1em;
		border-top: 1px solid #aaa;
		text-align: center;
	}

	.pad-container {
		padding-top: 2.5em;
		padding-bottom: 2em;
	}

	.pad-up {
		margin-top: 4em;
	}

}