* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
	*:before,
	*:after {
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	}

body,h1,h2 {
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #222;
}

h1,h2 {
	margin: 0 auto;
}

h1 {
	font-weight: 400;
	font-size: 2em;
}

h2 {
	font-weight: 300;
	color: #888;
	margin-bottom: .5em;
	font-size: 1.5em;
}

a, a > i {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	color: #222;
	webkit-transition: color 250ms ease;
    -moz-transition: color 250ms ease;
    -o-transition: color 250ms ease;
    transition: color 250ms ease;
}

.david-modal {
	color:green;
}

.text-left {
	text-align: left;
}

a:hover {
	text-decoration: none;
	color: green;
}

a>i:hover {
	text-decoration: none;
	color: orange;
}

a>i:active {
	color: orange;
}

.quote-block {
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	font-size:1.5em;
}

.quote {
	margin:0 .75em 1em;
}

.icon {
	font-size: 3em;
	color: green;
	padding-right: .25em;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.picture {
/*	background: url(../img/swingBW.jpg) #eee no-repeat center center;
    background-size: cover;*/
    margin: 0;
    padding: 0;
    display: block;
 	width: 100%;
  	height: auto;
}

.pad-container {
	padding-top: 5em;
}

.left-box {
	border-right: solid 1px #aaa;
	padding-right: 2em;
}

.right-box {
	padding-left: 2em;
}

.text-center {
	text-align: center;
}

span, span > a {
	color: #888;
}

.vertical {
	vertical-align: middle;
}

ul,li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin-left: 0;
	padding-left: 0;
}

hr {
	margin: 0;
	padding: 0;
	background: #888;
}

.items {
	list-style: none;
	font-size: 1.5em;
}

.title {
	color: #333;
	font-weight: 400;
	font-size: 1.75em;
}

.p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: .25em auto;
}


img {
	vertical-align: middle;
}

.david {
	max-height: 15em;
	margin: 1em auto;
	border-radius: 50%;
	display: block;
  	max-width: 100%;
}

footer {
	font-size: .75em;
	color: #bbb;
	padding: .75em;
}

.philosophy {
	margin: 3em .5em;
}


.philosophy-link {
	display: block;
	font-size: 1.25em;
	font-weight: 400;
	color:green;
	border-radius: 3px;
	border:1.5px solid #888;
	padding:.65em;
	margin: 3em auto;
	width: 40%;

	webkit-transition: background 500ms ease, text-shadow 500ms ease, color 500ms ease;
    -moz-transition: background 500ms ease, text-shadow 500ms ease, color 500ms ease;
    -o-transition: background 500ms ease, text-shadow 500ms ease, color 500ms ease;
    transition: background 500ms ease, text-shadow 500ms ease, color 500ms ease;
}

.philosophy-link:hover {
	text-shadow: 0 0 0.2em #ddd;
    background: lightgreen;
    color: #fff;    
}

@media (max-width: 999px) {
/*	.icon {
		font-size: 2.25em;
		padding-right: .4em;
	}*/

	.philosophy-link {
		width: 60%;
	}
}

@media (max-width: 768px) {
	.left-box {
		border-right: none;
		padding-right: 0;
	}

	.pull-right {
		float: none;
	}

	.right-box {
		padding-left: 0;
		margin-top: 4em;
		padding-bottom: 1em;
		border-top: 1px solid #aaa;
		text-align: center;
	}

	.pad-container {
		padding-top: 1em;
	}

	.pad-up {
		margin-top: 4em;
	}

	.philosophy-link {
		width: 100%;
	}

	a, a > i {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
}

}